body {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("images/menu_background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-family: Arial;
}
img.img-logo{
    margin-top : 25px;
    margin-left: 35px;
}
h1 {
    background-color:#DD7835;
    display: inline;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-right: 22px;
    padding-left: 22px;
}
.menu-h1{
    margin-top: 45px ;
    margin-bottom: 45px;
}
.nom-pizza{

}
.menu-list{
    margin-left: 30px;
}
span.li-pizza{
    margin-top: 30px;
    font-size: 22px;
    list-style-type: none;
    display: inline-block;
    width: 370px;
    font-weight: bold;
}
span.li-pizza-ing{
    font-size: 14px;
    list-style-type: none;
    color: gray;
    display: block;
    margin-top: 4px;
    margin-bottom: 5px;
    width: 320px;
}
span.li-pizza-p{
    font-size: 20px;
    color: #DD7835;
    margin-left: 8px;
    display: inline-block;
    width: 70px;
    text-align: right;
}
span.veg{
    background-color: #DD7835;
    font-size: 10px;
    padding: 3px 8px ;
    display: inline-block;
    border-radius: 8px;
    font-weight: bold;
    color: black;

}